spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pharma
    username: myuser
    password: secret
    driver-class-name: org.postgresql.Driver
  application:
    name: pharma-system
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080